In [7]:
import pandas as pd
import os
import glob
import shutil

### CSV files join

In [8]:
primary_csv = pd.read_csv("owndataset.csv")
secondary_csv = pd.read_csv("clean_data.csv")

In [9]:
df = pd.concat([primary_csv,secondary_csv],axis=0)

In [10]:
df.tail(10)

           filename  width  height      class  xmin  ymin  xmax  ymax
1251   82412168.jpg  247.0    65.0      Yahoo     4     2   232    45
1252   82413169.jpg  261.0    60.0      Yahoo    31     5   228    47
1253  844909343.jpg  500.0   375.0        Nbc     2    27   496   358
1254   87630579.jpg  375.0   500.0   Cocacola    12   267   172   352
1255  879397507.jpg  500.0   333.0       Ford    49   106   159   162
1256  882748860.jpg  500.0   298.0        Nbc   123    23   356   249
1257   89201664.jpg  500.0   333.0  McDonalds    10     2   492   318
1258   96668817.jpg   88.0    35.0       Puma    36     2    86    28
1259   98498585.jpg  500.0   375.0    Porsche   133    72   382   322
1260   99816106.jpg  500.0   333.0       Puma   164    35   390   246

In [11]:
df.to_csv("concatenate.csv",index=False)

### Image file Concatenate

In [12]:
primary_image_files = "brand_log_withxml"
secoandary_image_files = "flickr_logos_27_dataset/flickr_logos_27_dataset_images"
os.makedirs('images',exist_ok=True)

In [13]:
for img_ in glob.glob(f"{primary_image_files}/*jpg"):
    shutil.copy(img_,f"images/{os.path.basename(img_)}")

In [14]:
for img_ in glob.glob(f"{secoandary_image_files}/*jpg"):
    shutil.copy(img_,f"images/{os.path.basename(img_)}")

In [ ]:
os.r